/* Add your own styles */
body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(240, 20%, 90%);
}

header {
    background-color: hsl(235, 21%, 31%);
    color: white;
    width: 100vw;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
}

#controls {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 1.2rem;
}

#country {
    width: 35rem;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    box-shadow: 3px 3px 5px lightblue;
    border-radius: 5px;
    outline: none;
    margin: 0.3rem 0;
    padding-left: 0.7rem;
}

#button-group {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    gap: 2rem;
}

#lookup,
#lookup-cities {
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.85rem;
    font-weight: 900;
    cursor: pointer;
}

#lookup {
    background-color: hsl(142, 68%, 35%)
}

#lookup-cities {
    background-color: hsl(236, 56%, 60%)
}